body {
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}

.imgEmpleado {
    width: 50vw;
    border-radius: 10px;
}

.botonMio {
    background-color: #83a4d4;
    color: white;
    border-radius: 10px;
    border: none;
}

.botonMio:hover {
    background-color: #b6fbff;
    color: black;
}

.colorFondo {
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 10px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

